---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import * as classes from "./index.astro.css";
---

<DefaultLayout title="Example Form">
  <div class:list={classes.root}>
    <a href="/ground/form/edit">Edit</a>
  </div>
</DefaultLayout>
